.index {
  margin: 0 22px;
  width: 100%;
}

.stat {
  position: relative;
  margin-top: 24px;
  margin-left: 36px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow:  10px 10px 19px #d9d9d9,
              -10px -10px 19px #ffffff;
}

.countdown {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.countdown .circle {
  position: relative;
}

.countdown .time {
  color: #86a8e7;
}

.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 85px;
}

.control {
  display: flex;
  justify-content: space-around;
  margin-top: 124px;
}

.btn-control {
  position: relative;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow:  12px 12px 25px #d9d9d9,
              -12px -12px 25px #ffffff;
}
