.mqttContainer {
  height: 56px;
  margin: 12px;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2c3e50;
  border-radius: 10px;
  color: #34495e;
  box-shadow: 20px 20px 40px #d9d9d9, -20px -20px 40px #ffffff;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 10px;
}

.mqttBtn {
  width: 70px; // 56
  padding: 4px 0;
  text-align: center;
  font-size: 14px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  // 消除 button 默认样式
  outline: none;
  // border: 0;
  background-color: transparent;
}

.mqttBtn:disabled {
  pointer-events: none;
  cursor: not-allowed;
  // box-shadow: none;
  opacity: 0.65;
}

.countdownContainer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.circleProgress {
  position: relative;
}

.countdownContent {
  white-space: nowrap; // 防止编辑时 input 与 span 换行

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  color: #76a4ef;
  font-family: 'Arial Black';
}

.editInput {
  // 适配 ios
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // 消除默认输入框样式
  outline: none;
  border: none;
  padding: 0;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: inset 6px 6px 11px #d9d9d9, inset -6px -6px 11px #ffffff;
}

.controlContainer {
  display: flex;
  justify-content: space-around;
}

.preStartText {
  padding: 0 24px;
  height: 68px;
  line-height: 68px;
  font-size: 36px;
}
